* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  padding: 0 2rem;
  margin-top: 4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
}

.logo-container {
  overflow: hidden;
  display: flex;
}

.logo {
  display: flex;
  flex-shrink: 0;
  gap: 3rem;
  padding: 1rem;
  animation: inifite-scroll 5s linear infinite;
}

.logo img {
  height: 3rem;
}

@keyframes inifite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
